<div class="effect">
    <svg id="svg_ef_1" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400" preserveAspectRatio="xMinYMax meet">
        <g stroke="null" id="svg_ef_1_all">
            <rect id="svg_ef_1_01" y="0" x="0" height="57.057144" width="57.057144">
                <animate
                    attributeType="CSS"
                    attributeName="opacity"
                    from="0.3"
                    to="1"
                    dur="4s"
                    values="0.3;1;0.3"
                    repeatCount="indefinite"/>
            </rect>
            <rect id="svg_ef_1_02" y="0" x="0" height="38.288347" width="38.288347">
                <animate
                    attributeType="CSS"
                    attributeName="opacity"
                    from="0.7"
                    to="0.9"
                    dur="4s"
                    values="0.7;0;0.9;0.7"
                    repeatCount="indefinite"/>
            </rect>
            <rect id="svg_ef_1_03" y="0" x="0" height="19.519548" width="19.519548">
            <animate
                    attributeType="CSS"
                    attributeName="opacity"
                    from="0.6"
                    to="1"
                    dur="4s"
                    values="0.6;1;0;0.6"
                    repeatCount="indefinite"/>
            </rect>
            <rect id="svg_ef_1_04" y="0" x="0" height="57.057144" width="57.057144">
                <animate
                    attributeType="CSS"
                    attributeName="opacity"
                    from="1"
                    to="0.2"
                    dur="5s"
                    values="1;0;1"
                    repeatCount="indefinite"/>
            </rect>
            <rect id="svg_ef_1_05" y="0" x="0" height="50.300376" width="50.300376">
                <animate
                    attributeType="CSS"
                    attributeName="opacity"
                    from="1"
                    to="0"
                    dur="5s"
                    values="1;0;1"
                    repeatCount="indefinite"/>
            </rect>
            <rect id="svg_ef_1_06" y="0" x="0" height="19.519548" width="19.519548">
                <animate
                    attributeType="CSS"
                    attributeName="opacity"
                    from="0.4"
                    to="1"
                    dur="4s"
                    values="0.4;1;0.4"
                    repeatCount="indefinite"/>
            </rect>
            <rect id="svg_ef_1_07" y="0" x="0" height="16.516542" width="16.516542">
                <animate
                    attributeType="CSS"
                    attributeName="opacity"
                    from="0.7"
                    to="0.9"
                    dur="4s"
                    values="0.7;0;0.9;0.7"
                    repeatCount="indefinite"/>
            </rect>
            <rect id="svg_ef_1_08" y="0" x="0" height="19.519548" width="19.519548">
                <animate
                    attributeType="CSS"
                    attributeName="opacity"
                    from="1"
                    to="0"
                    dur="5s"
                    values="1;0;1"
                    repeatCount="indefinite"/>
            </rect>
            <rect id="svg_ef_1_09" y="0" x="0" height="81.081206" width="81.081206">
                <animate
                    attributeType="CSS"
                    attributeName="opacity"
                    from="1"
                    to="0.4"
                    dur="4s"
                    values="1;0.4;1"
                    repeatCount="indefinite"/>
            </rect>
            <rect id="svg_ef_1_10" y="0" x="0" height="57.057144" width="57.057144">
                <animate
                    attributeType="CSS"
                    attributeName="opacity"
                    from="0.3"
                    to="1"
                    dur="4s"
                    values="0.3;1;0.3"
                    repeatCount="indefinite"/>
            </rect>
            <rect id="svg_ef_1_11" y="0" x="0" height="46.546616" width="46.546616">
                <animate
                    attributeType="CSS"
                    attributeName="opacity"
                    from="0.6"
                    to="1"
                    dur="4s"
                    values="0.6;1;0;0.6"
                    repeatCount="indefinite"/>
            </rect>
            
            
            
            
            <path id="svg_ef_1_p1" d="m76.412953,109.52478c26,-59 81,-72 153,-72c72,0 121,52 119,93c-2,41 -41,113 -36,148c5,35 -35,92 -116,83c-81,-9 -158,-27 -143,-82c15,-55 -3,-111 23,-170z"/>
            <animateMotion 
                xlink:href="#svg_ef_1_01"
                dur="60s"
                begin="0s"
                fill="freeze"
                repeatCount="indefinite">
                <mpath xlink:href="#svg_ef_1_p1"/>
            </animateMotion>
            
            <path id="svg_ef_1_p2" transform="rotate(47.705562591552734 200.00000000000003,203) " d="m81.509877,109.604269c24.927719,-60.904497 77.659432,-74.324132 146.690037,-74.324132c69.030606,0 116.009768,53.67854 114.092251,96.002004c-1.917517,42.323464 -39.309095,116.647596 -34.515303,152.777382c4.793792,36.129786 -33.556544,94.969724 -111.215976,85.679208c-77.659432,-9.290516 -151.483829,-27.871549 -137.102453,-84.646928c14.381376,-56.775379 -2.876275,-114.583037 22.051444,-175.487534z" />
            <animateMotion 
                xlink:href="#svg_ef_1_02"
                dur="35s"
                begin="0s"
                fill="freeze"
                repeatCount="indefinite">
                <mpath xlink:href="#svg_ef_1_p2"/>
            </animateMotion>
            
            <path id="svg_ef_1_p3" d="m14.5,179.5c7,-42 10,-77 32,-96c22,-19 56,-47 101,-54c45,-7 128,-6 171,19c43,25 43,70 41,98c-2,28 5,96 6,126c1,30 -17,72 -47,78c-30,6 -68,-14 -108,-19c-40,-5 -66,24 -98,27c-32,3 -87,-10 -91,-47c-4,-37 -14,-90 -7,-132z"/>
            <animateMotion 
                xlink:href="#svg_ef_1_03"
                dur="25s"
                begin="0s"
                fill="freeze"
                repeatCount="indefinite">
                <mpath xlink:href="#svg_ef_1_p3"/>
            </animateMotion>
            
            <path id="svg_ef_1_p4" d="m63.5,302.5c29,33 134,9 163,-9c29,-18 66,-82 94,-113c28,-31 33,-131 -61,-132c-94,-1 -160,56 -186,91c-26,35 -39,130 -10,163z"/>
            <animateMotion 
                xlink:href="#svg_ef_1_04"
                dur="30s"
                begin="0s"
                fill="freeze"
                repeatCount="indefinite">
                <mpath xlink:href="#svg_ef_1_p4"/>
            </animateMotion>
            
            <path id="svg_ef_1_p5" transform="rotate(143.78773498535156 161.85031127929688,187.4959869384766) " d="m102.359829,153.415786c12.515491,-22.224119 38.990568,-27.120958 73.648851,-27.120958c34.658283,0 58.24517,19.587359 57.28244,35.031238c-0.96273,15.443879 -19.735967,42.564837 -17.329142,55.748637c2.406825,13.183799 -16.847776,34.654558 -55.838345,31.264438c-38.990568,-3.39012 -76.055677,-10.170359 -68.835201,-30.887758c7.220476,-20.717399 -1.444095,-41.811477 11.071396,-64.035596z"/>
            <animateMotion 
                xlink:href="#svg_ef_1_05"
                dur="55s"
                begin="0s"
                fill="freeze"
                repeatCount="indefinite">
                <mpath xlink:href="#svg_ef_1_p5"/>
            </animateMotion>
            
            <path id="svg_ef_1_p6" d="m172.5,42.5c-61,3 -92,30 -104,67c-12,37 -23,113 -6,153c17,40 51,71 112,91c61,20 142,-60 154,-129c12,-69 -95,-185 -156,-182z"/>
            <animateMotion 
                xlink:href="#svg_ef_1_06"
                dur="55s"
                begin="0s"
                fill="freeze"
                repeatCount="indefinite">
                <mpath xlink:href="#svg_ef_1_p6"/>
            </animateMotion>
            
            <path id="svg_ef_1_p7" d="m211.5,268.5c-61,9 -84,19 -125,-6c-41,-25 -78,-127 -32,-149c46,-22 93,-30 166,-2c73,28 52,148 -9,157z"/>
            <animateMotion 
                xlink:href="#svg_ef_1_07"
                dur="25s"
                begin="0s"
                fill="freeze"
                repeatCount="indefinite">
                <mpath xlink:href="#svg_ef_1_p7"/>
            </animateMotion>
            
            <path id="svg_ef_1_p8" d="m189.58167,296.341326c20.472649,-22.069888 40.126392,-32.185254 50.772169,-18.391573c10.645777,13.79368 39.307486,30.346096 28.661708,47.818091c-10.645777,17.471995 -40.945297,31.265675 -60.59904,23.909045c-19.653743,-7.356629 -39.307486,-31.265675 -18.834837,-53.335563z"/>
            <animateMotion 
                xlink:href="#svg_ef_1_08"
                dur="35s"
                begin="0s"
                fill="freeze"
                repeatCount="indefinite">
                <mpath xlink:href="#svg_ef_1_p8"/>
            </animateMotion>
            
            
            <path id="svg_ef_1_p9" d="m281.5,128.5c6,68 13,127 -19,148c-32,21 -111,34 -149,13c-38,-21 -64,-61 -64,-103c0,-42 -22,-104 33,-121c55,-17 113,-27 146,-16c33,11 47,11 53,79z"/>
            <animateMotion 
                xlink:href="#svg_ef_1_09"
                dur="50s"
                begin="0s"
                fill="freeze"
                repeatCount="indefinite">
                <mpath xlink:href="#svg_ef_1_p9"/>
            </animateMotion>
            
            
            <path id="svg_ef_1_p10" d="m254.5,47.5c38,27 85,62 81,123c-4,61 -43,66 -67,104c-24,38 -116,63 -164,31c-48,-32 -34,-75 -47,-103c-13,-28 -49,-75 -35,-115c14,-40 194,-67 232,-40z"/>
            <animateMotion 
                xlink:href="#svg_ef_1_10"
                dur="65s"
                begin="0s"
                fill="freeze"
                repeatCount="indefinite">
                <mpath xlink:href="#svg_ef_1_p10"/>
            </animateMotion>
            
            
            <path id="svg_ef_1_p11" d="m284.34105,59.328172c-40.168505,-17.384391 -72.499253,17.384391 -114.627198,19.31599c-42.127944,1.931599 -70.539814,-4.828998 -98.951684,38.63198c-28.41187,43.460978 -52.90486,87.887755 -19.594393,124.588137c33.310468,36.700381 37.229346,75.332362 76.418132,85.956156c39.188786,10.623795 169.491498,23.179188 193.004769,-34.768782c23.513271,-57.947971 -55.844019,-65.674367 -44.087384,-113.964342c11.756636,-48.289976 48.006262,-102.374748 7.837757,-119.759139z"/>
            <animateMotion 
                xlink:href="#svg_ef_1_11"
                dur="50s"
                begin="0s"
                fill="freeze"
                repeatCount="indefinite">
                <mpath xlink:href="#svg_ef_1_p11"/>
            </animateMotion>
            
        </g>
    </svg>
    <h3>
        <a href="sites.html">Создание сайтов<br> в Красноярске</a>
    </h3>
</div>