<div class="effect">
    <svg id="svg_ef_3" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400" preserveAspectRatio="xMinYMax meet" >
        <g stroke="null" id="svg_ef_3_all">
            
            <circle id="svg_ef_3_03"    r="14.5"    cy="0"          cx="0"/>
            <circle id="svg_ef_3_04"    r="17.7"    cy="0"          cx="0"/>
            <circle id="svg_ef_3_05"    r="9.6"     cy="0"          cx="0"/>
            <circle id="svg_ef_3_06"    r="23.3"    cy="0"          cx="0"/>
            <circle id="svg_ef_3_07"    r="5.6"     cy="0"          cx="0"/>
            <circle id="svg_ef_3_08"    r="7.2"     cy="0"          cx="0"/>
            
            <path id="svg_ef_3_01" d="m44.1,198.6c0,-88.95028 72.04972,-161 161,-161c88.95028,0 161,72.04972 161,161c0,88.95028 -72.04972,161 -161,161c-88.95028,0 -161,-72.04972 -161,-161z" stroke-opacity="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="null" fill-opacity="null"/>
            <animateMotion xlink:href="#svg_ef_3_03" dur="15s" begin="0s" fill="freeze" repeatCount="indefinite">
                <mpath xlink:href="#svg_ef_3_01"/>
            </animateMotion>

            <path id="svg_ef_3_02" d="m353,212c0,89.04972 -72.75028,161 -160.8,161c-88.04972,0 -161.2,-70.95028 -161.2,-161c0,-90.04972 71.15028,-161 161.2,-161c90.04972,0 160.8,71.95028 160.8,161z" stroke-opacity="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="null" fill-opacity="null"/>
            <animateMotion xlink:href="#svg_ef_3_04" dur="20s" begin="0s" fill="freeze" repeatCount="indefinite">
                <mpath xlink:href="#svg_ef_3_02"/>
            </animateMotion>
            
            <path id="svg_ef_3_p06" d="m135.5,175.5c11,-29 29,-55 72,-56c43,-1 64,46 60,69c-4,23 -23,64 -71,64c-48,0 -72,-48 -61,-77z"/>
            <animateMotion xlink:href="#svg_ef_3_06" dur="25s" begin="0s" fill="freeze" repeatCount="indefinite">
                <mpath xlink:href="#svg_ef_3_p06"/>
            </animateMotion>
                        
            <path id="svg_ef_3_p08" d="m80.5,21.5c29,-5 59,1 79,17c20,16 17,74 -45,77c-62,3 -80,-20 -82,-43c-2,-23 19,-46 48,-51z" fill-opacity="null" stroke-opacity="null" stroke-width="null" stroke="#000000" fill="none"/>
            <animateMotion xlink:href="#svg_ef_3_08" dur="20s" begin="0s" fill="freeze" repeatCount="indefinite">
                <mpath xlink:href="#svg_ef_3_p08"/>
            </animateMotion>
            
            <path id="svg_ef_3_p04" d="m16.5,274.5c1,42 27,84 68,86c41,2 69,-46 67,-81c-2,-35 -32,-78 -68,-77c-36,1 -68,30 -67,72z" fill-opacity="null" stroke-opacity="null" stroke-width="null" stroke="#000000" fill="none"/>
            <animateMotion xlink:href="#svg_ef_3_05" dur="17s" begin="0s" fill="freeze" repeatCount="indefinite">
                <mpath xlink:href="#svg_ef_3_p04"/>
            </animateMotion>
            
            <path id="svg_ef_3_p05" d="m389.5,326.5c2,-34 -16,-66 -45,-65c-29,1 -65,30 -42,77c23,47 85,22 87,-12z" fill-opacity="null" stroke-opacity="null" stroke-width="null" stroke="#000000" fill="none"/>            
            <animateMotion xlink:href="#svg_ef_3_07" dur="13s" begin="0s" fill="freeze" repeatCount="indefinite">
                <mpath xlink:href="#svg_ef_3_p05"/>
            </animateMotion>

        </g>
    </svg>
    <h3>
        <a href="context.html">Контекстная<br> реклама</a>
    </h3>
</div>