<div class="effect">
    <svg id="svg_ef_2" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400" preserveAspectRatio="xMinYMax meet">
        <g stroke="null" id="svg_ef_2_all">
            <rect id="svg_ef_2_01" y="0" x="0" height="50.4" width="168">
                <animate
                    attributeType="CSS"
                    attributeName="height"
                    from="50.4"
                    to="30"
                    dur="12s"
                    values="50.4;30;50.4"
                    repeatCount="indefinite"/>
                <animate
                    attributeType="CSS"
                    attributeName="opacity"
                    from="0.3"
                    to="1"
                    dur="10s"
                    values="0.3;1;0.3"
                    repeatCount="indefinite"/>
            </rect>
            <rect id="svg_ef_2_02" y="0" x="0" height="24" width="115">
                <animate
                    attributeType="CSS"
                    attributeName="height"
                    from="24"
                    to="15"
                    dur="17s"
                    values="24;15;24"
                    repeatCount="indefinite"/>
                <animate
                    attributeType="CSS"
                    attributeName="opacity"
                    from="0.5"
                    to="0.9"
                    dur="17s"
                    values="0.5;0.9;0.5"
                    repeatCount="indefinite"/>
            </rect>
            <rect id="svg_ef_2_03" y="0" x="0" height="17" width="65">
                <animate
                    attributeType="CSS"
                    attributeName="height"
                    from="17"
                    to="10"
                    dur="17s"
                    values="17;10;17"
                    repeatCount="indefinite"/>
                <animate
                    attributeType="CSS"
                    attributeName="opacity"
                    from="0.5"
                    to="0.9"
                    dur="17s"
                    values="0.5;0.9;0.5"
                    repeatCount="indefinite"/>
            </rect>
            <rect id="svg_ef_2_04" y="0" x="0" height="33" width="117">
                <animate
                    attributeType="CSS"
                    attributeName="height"
                    from="33"
                    to="20"
                    dur="25s"
                    values="33;20;33"
                    repeatCount="indefinite"/>
                <animate
                    attributeType="CSS"
                    attributeName="opacity"
                    from="0.9"
                    to="0.3"
                    dur="17s"
                    values="0.9;0.3;0.9"
                    repeatCount="indefinite"/>
            </rect>
            <rect id="svg_ef_2_05" y="0" x="0" height="10" width="45">
                <animate
                    attributeType="CSS"
                    attributeName="height"
                    from="10"
                    to="17"
                    dur="13s"
                    values="10;17;10"
                    repeatCount="indefinite"/>
                <animate
                    attributeType="CSS"
                    attributeName="opacity"
                    from="0.3"
                    to="1"
                    dur="10s"
                    values="0.3;1;0.3"
                    repeatCount="indefinite"/>
            </rect>
            <rect id="svg_ef_2_06" y="0" x="0" height="9" width="33">
                <animate
                    attributeType="CSS"
                    attributeName="height"
                    from="9"
                    to="15"
                    dur="10s"
                    values="9;15;9"
                    repeatCount="indefinite"/>
                <animate
                    attributeType="CSS"
                    attributeName="opacity"
                    from="0.3"
                    to="1"
                    dur="10s"
                    values="0.3;1;0.3"
                    repeatCount="indefinite"/>
            </rect>
            <rect id="svg_ef_2_07" y="0" x="0" height="17" width="65">
                <animate
                    attributeType="CSS"
                    attributeName="height"
                    from="17"
                    to="25"
                    dur="17s"
                    values="17;25;17"
                    repeatCount="indefinite"/>
                <animate
                    attributeType="CSS"
                    attributeName="opacity"
                    from="0.2"
                    to="0.8"
                    dur="17s"
                    values="0.2;0.7;0.2"
                    repeatCount="indefinite"/>
            </rect>
            <rect id="svg_ef_2_08" y="0" x="0" height="33" width="117">
                <animate
                    attributeType="CSS"
                    attributeName="height"
                    from="33"
                    to="20"
                    dur="20s"
                    values="33;20;33"
                    repeatCount="indefinite"/>
                <animate
                    attributeType="CSS"
                    attributeName="opacity"
                    from="1"
                    to="0.4"
                    dur="17s"
                    values="1;0.4;1"
                    repeatCount="indefinite"/>
            </rect>
            <path id="svg_ef_2_p1" d="m5.41523,118.688138c-0.879103,-11.195513 3.223377,-35.130746 7.325857,-43.623894c4.10248,-8.493147 12.014405,-24.321286 8.791028,-15.442086c-3.223377,8.8792 -9.377097,12.739721 -12.893508,35.902851c-3.516411,23.163129 -2.344274,34.358642 -3.223377,23.163129z"/>
            <animateMotion 
                xlink:href="#svg_ef_2_01"
                dur="15s"
                begin="0s"
                fill="freeze"
                repeatCount="indefinite">
                <mpath xlink:href="#svg_ef_2_p1"/>
            </animateMotion>

            <path id="svg_ef_2_p2" d="m293.21517,95.431679c-0.42876,-14.710946 -9.861482,-38.836897 -7.288922,-35.894708c2.572561,2.942189 8.146442,21.183762 9.003962,31.775643c0.85752,10.591881 1.71504,35.30627 0.42876,30.598768c-1.28628,-4.707503 -1.71504,-11.768757 -2.1438,-26.479703z"/>
            <animateMotion 
                xlink:href="#svg_ef_2_02"
                dur="20s"
                begin="0s"
                fill="freeze"
                repeatCount="indefinite">
                <mpath xlink:href="#svg_ef_2_p2"/>
            </animateMotion>

            <path id="svg_ef_2_p3" d="m199.688484,122.975024c-0.060542,8.998173 0,26.994518 0.423793,27.244467c0.423793,0.249949 0.423793,-15.246903 0.484335,-27.494416c0.060542,-12.247513 -0.121084,-19.995939 -0.423793,-16.371675c-0.302709,3.624264 -0.423793,7.623452 -0.484335,16.621624z"/>
            <animateMotion 
                xlink:href="#svg_ef_2_03"
                dur="15s"
                begin="0s"
                fill="freeze"
                repeatCount="indefinite">
                <mpath xlink:href="#svg_ef_2_p3"/>
            </animateMotion>

            <path id="svg_ef_2_p4" d="m27.251898,210.997682c-0.499995,11.999868 1.999978,32.999637 2.999967,40.999549c0.999989,7.999913 6.499929,32.499643 2.999967,11.499874c-3.499962,-20.999769 -3.999956,-38.999571 -3.999956,-45.999494c0,-6.999923 -1.499984,-18.499797 -1.999978,-6.499929z"/>
            <animateMotion 
                xlink:href="#svg_ef_2_04"
                dur="20s"
                begin="0s"
                fill="freeze"
                repeatCount="indefinite">
                <mpath xlink:href="#svg_ef_2_p4"/>
            </animateMotion>

            <path id="svg_ef_2_p5" d="m362.475968,236.984288c0.249983,-13.999072 0.74995,-31.247928 0,-51.496586c-0.74995,-20.248658 -2.249851,-31.747895 -1.999867,-15.998939c0.249983,15.748956 0.999934,35.74763 0.74995,56.496254c-0.249983,20.748624 0.999934,24.998343 1.249917,10.999271z"/>
            <animateMotion 
                xlink:href="#svg_ef_2_05"
                dur="10s"
                begin="0s"
                fill="freeze"
                repeatCount="indefinite">
                <mpath xlink:href="#svg_ef_2_p5"/>
            </animateMotion>

            <path id="svg_ef_2_p6" d="m8.752018,294.246284c-2.499973,-19.499786 -1.999978,-43.499522 -1.499984,-35.49961c0.499995,7.999912 2.499973,33.999626 3.999956,42.999528c1.499984,8.999901 0,11.999868 -2.499973,-7.499918z"/>
            <animateMotion 
                xlink:href="#svg_ef_2_06"
                dur="10s"
                begin="0s"
                fill="freeze"
                repeatCount="indefinite">
                <mpath xlink:href="#svg_ef_2_p6"/>
            </animateMotion>

            <path id="svg_ef_2_p7" d="m105.750827,327.497127c-1.499987,-17.999842 -1.999982,-38.499662 -1.999982,-50.499557c0,-11.999895 2.499978,-22.999798 2.499978,-7.99993c0,14.999868 -0.999991,26.999763 0.999991,49.999561c1.999982,22.999798 0,26.499767 -1.499987,8.499925z"/>
            <animateMotion 
                xlink:href="#svg_ef_2_07"
                dur="13s"
                begin="0s"
                fill="freeze"
                repeatCount="indefinite">
                <mpath xlink:href="#svg_ef_2_p7"/>
            </animateMotion>

            <path id="svg_ef_2_p8" d="m257.249498,240.997886c0,19.999824 -1.499987,48.99957 -2.499978,67.999403c-0.999992,18.999833 -13.999878,47.499583 -7.99993,36.999675c5.999947,-10.499908 11.999895,-28.999745 12.999886,-52.499539c0.999991,-23.499794 0,-43.499618 -0.499996,-60.999465c-0.499995,-17.499846 -1.999982,-11.499899 -1.999982,8.499926z"/>
            <animateMotion 
                xlink:href="#svg_ef_2_08"
                dur="20s"
                begin="0s"
                fill="freeze"
                repeatCount="indefinite">
                <mpath xlink:href="#svg_ef_2_p8"/>
            </animateMotion>
        </g>
    </svg>
    <h3>
        <a href="seo.html">Продвижение сайтов<br> в Яндекс / Google</a>
    </h3>
</div>