<div class="effect">
    <svg id="svg_ef_5" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400" preserveAspectRatio="xMinYMax meet">
        <g stroke="null" id="svg_ef_5_all">
            <line id="svg_ef_5_01"   y2="233"   x2="154"   y1="117"   x1="92"/>
            <line id="svg_ef_5_02"   y2="98"    x2="224"   y1="68"    x1="79"/>
            <line id="svg_ef_5_03"   y2="117"   x2="199"   y1="42"    x1="96"/>
            <line id="svg_ef_5_04"   y2="108"   x2="253"   y1="30"    x1="231"/>
            <line id="svg_ef_5_05"   y2="86"    x2="340"   y1="63"    x1="264"/>
            <line id="svg_ef_5_06"   y2="185"   x2="297"   y1="55"    x1="374"/>
            <line id="svg_ef_5_07"   y2="207"   x2="344"   y1="133"   x1="373"/>
            <line id="svg_ef_5_08"   y2="316"   x2="355"   y1="185"   x1="363"/>
            <line id="svg_ef_5_09"   y2="319"   x2="237"   y1="228"   x1="330"/>
            <line id="svg_ef_5_10"   y2="281"   x2="288"   y1="284"   x1="180"/>
            <line id="svg_ef_5_11"   y2="318"   x2="290"   y1="297"   x1="140"/>
            <line id="svg_ef_5_12"   y2="291"   x2="94"    y1="323"   x1="150"/>
            <line id="svg_ef_5_13"   y2="208"   x2="30"    y1="131"   x1="48"/>
            <line id="svg_ef_5_14"   y2="188"   x2="97"    y1="300"   x1="27"/>
            <line id="svg_ef_5_15"   y2="366"   x2="252"   y1="352"   x1="105"/>
            <line id="svg_ef_5_16"   y2="92"    x2="26"    y1="104"   x1="62"/>
            
            
            
            
            <animate xlink:href="#svg_ef_5_01"   attributeName="stroke-opacity"   dur="10s"   values="0.9; 0.2; 1; 0.5; 1; 0; 1"   repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_04"   attributeName="stroke-opacity"   dur="6s"    values="1; 0.1; 1; 0.6; 1; 0.2; 1"   repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_06"   attributeName="stroke-opacity"   dur="15s"   values="0.5; 0.2; 1; 0.5; 1; 0; 1"   repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_09"   attributeName="stroke-opacity"   dur="5s"    values="1; 0.2; 1; 0.5; 1; 0; 0.5"   repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_13"   attributeName="stroke-opacity"   dur="13s"   values="1; 0.2; 0.8; 1; 1; 0.3; 1"   repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_15"   attributeName="stroke-opacity"   dur="7s"    values="1; 0.5; 1; 0.9; 1; 0.1; 1"   repeatCount="indefinite"/>
            
            
            
            
            <animate xlink:href="#svg_ef_5_01"   attributeName="y2"   dur="8s"    values="233;210;233"   repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_01"   attributeName="x2"   dur="15s"   values="154;180;154"   repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_01"   attributeName="y1"   dur="10s"   values="117;130;117"   repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_01"   attributeName="x1"   dur="15s"   values="92;110;92"     repeatCount="indefinite"/>
            
            <animate xlink:href="#svg_ef_5_02"   attributeName="y2"   dur="11s"   values="98;130;98"     repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_02"   attributeName="x2"   dur="11s"   values="224;190;224"   repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_02"   attributeName="y1"   dur="7s"    values="68;100;68"     repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_02"   attributeName="x1"   dur="18s"   values="79;50;79"      repeatCount="indefinite"/>
            
            <animate xlink:href="#svg_ef_5_03"   attributeName="y2"   dur="15s"   values="117;150;117"   repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_03"   attributeName="x2"   dur="8s"    values="199;230;199"   repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_03"   attributeName="y1"   dur="10s"   values="42;90;42"      repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_03"   attributeName="x1"   dur="15s"   values="96;50;96"      repeatCount="indefinite"/>
            
            <animate xlink:href="#svg_ef_5_04"   attributeName="y2"   dur="20s"   values="108;92;108"    repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_04"   attributeName="x2"   dur="13s"   values="253;230;253"   repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_04"   attributeName="y1"   dur="18s"   values="30;50;30"      repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_04"   attributeName="x1"   dur="9s"    values="231;250;231"   repeatCount="indefinite"/>
            
            <animate xlink:href="#svg_ef_5_05"   attributeName="y2"   dur="20s"   values="86;92;86"      repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_05"   attributeName="x2"   dur="13s"   values="340;360;340"   repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_05"   attributeName="y1"   dur="18s"   values="63;80;63"      repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_05"   attributeName="x1"   dur="20s"   values="264;250;264"   repeatCount="indefinite"/>
            
            <animate xlink:href="#svg_ef_5_06"   attributeName="y2"   dur="10s"   values="185;150;185"   repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_06"   attributeName="x2"   dur="18s"   values="297;250;297"   repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_06"   attributeName="y1"   dur="9s"    values="55;90;55"      repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_06"   attributeName="x1"   dur="25s"   values="374;320;374"   repeatCount="indefinite"/>
            
            <animate xlink:href="#svg_ef_5_07"   attributeName="y2"   dur="25s"   values="207;180;207"   repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_07"   attributeName="x2"   dur="23s"   values="344;350;344"   repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_07"   attributeName="y1"   dur="11s"   values="133;160;133"   repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_07"   attributeName="x1"   dur="11s"   values="373;340;373"   repeatCount="indefinite"/>
            
            <animate xlink:href="#svg_ef_5_08"   attributeName="y2"   dur="20s"   values="316;290;316"   repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_08"   attributeName="x2"   dur="23s"   values="355;320;355"   repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_08"   attributeName="y1"   dur="15s"   values="185;160;185"   repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_08"   attributeName="x1"   dur="10s"   values="363;310;363"   repeatCount="indefinite"/>
            
            <animate xlink:href="#svg_ef_5_09"   attributeName="y2"   dur="15s"   values="319;300;319"   repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_09"   attributeName="x2"   dur="18s"   values="237;260;237"   repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_09"   attributeName="y1"   dur="10s"   values="228;250;228"   repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_09"   attributeName="x1"   dur="20s"   values="330;310;330"   repeatCount="indefinite"/>
            
            <animate xlink:href="#svg_ef_5_10"   attributeName="y2"   dur="10s"   values="281;300;281"   repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_10"   attributeName="x2"   dur="18s"   values="288;250;288"   repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_10"   attributeName="y1"   dur="20s"   values="284;320;284"   repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_10"   attributeName="x1"   dur="26s"   values="180;210;180"   repeatCount="indefinite"/>
            
            <animate xlink:href="#svg_ef_5_11"   attributeName="y2"   dur="12s"   values="318;290;318"   repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_11"   attributeName="x2"   dur="20s"   values="290;335;290"   repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_11"   attributeName="y1"   dur="21s"   values="297;300;297"   repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_11"   attributeName="x1"   dur="25s"   values="140;100;140"   repeatCount="indefinite"/>
            
            <animate xlink:href="#svg_ef_5_12"   attributeName="y2"   dur="22s"   values="291;275;291"   repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_12"   attributeName="x2"   dur="20s"   values="94;130;94"     repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_12"   attributeName="y1"   dur="13s"   values="323;280;323"   repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_12"   attributeName="x1"   dur="22s"   values="150;90;150"    repeatCount="indefinite"/>
            
            <animate xlink:href="#svg_ef_5_13"   attributeName="y2"   dur="19s"   values="208;30;208"    repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_13"   attributeName="x2"   dur="21s"   values="30;60;30"      repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_13"   attributeName="y1"   dur="15s"   values="131;150;131"   repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_13"   attributeName="x1"   dur="20s"   values="48;60;48"      repeatCount="indefinite"/>
            
            <animate xlink:href="#svg_ef_5_14"   attributeName="y2"   dur="18s"   values="188;150;188"   repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_14"   attributeName="x2"   dur="15s"   values="97;80;97"      repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_14"   attributeName="y1"   dur="10s"   values="300;280;300"   repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_14"   attributeName="x1"   dur="20s"   values="27;50;27"      repeatCount="indefinite"/>
            
            <animate xlink:href="#svg_ef_5_15"   attributeName="y2"   dur="15s"   values="366;330;366"   repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_15"   attributeName="x2"   dur="10s"   values="252;200;252"   repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_15"   attributeName="y1"   dur="17s"   values="352;240;352"   repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_15"   attributeName="x1"   dur="22s"   values="105;140;105"   repeatCount="indefinite"/>
            
            <animate xlink:href="#svg_ef_5_16"   attributeName="y2"   dur="10s"   values="92;120;92"     repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_16"   attributeName="x2"   dur="10s"   values="26;120;26"      repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_16"   attributeName="y1"   dur="20s"   values="104;160;104"   repeatCount="indefinite"/>
            <animate xlink:href="#svg_ef_5_16"   attributeName="x1"   dur="26s"   values="62;30;62"      repeatCount="indefinite"/>
        </g>
    </svg>
    <h3>
        <a href="#">Пакетные<br> предложения</a>
    </h3>
</div>