#smm_06 {
    background-image: url('../img/smm/smm-06.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    padding: 3vh 0;
    .title {
        font-size: 7.5rem;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        margin: 0;
    }
    .subtitle {
        font-size: 3.48rem;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        line-height: 1;
    }
    .count {
        font-size: 9.85rem;
        font-weight: bold;
        text-align: center;
        text-decoration: underline;
        
        line-height: 1;
        span {color: $red;}
    }
    .descript {
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        line-height: 1;
    }
}

@media (max-width: 480px) {
    #smm_06 {
        .title {
            font-size: 3rem;
            line-height: 1;
            padding: 0 15px;
        }
        .subtitle {
            font-size: 2rem;
            padding: 0 15px;
        }
        .count {
            font-size: 4rem;
        }
        .descript {
            padding: 0 15px;
        }
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    #smm_06 {
        .title {
            font-size: 3rem;
            line-height: 1;
            padding: 0 15px;
        }
        .subtitle {
            font-size: 2rem;
            padding: 0 15px;
        }
        .count {
            font-size: 4rem;
        }
        .descript {
            padding: 0 15px;
        }
    }
}

@media (min-width: 768px) and (max-width: 990px) {
    #smm_06 {
        .title {
            font-size: 4.5rem;
        }
    }
}

@media (min-width: 991px) and (max-width: 1199px) {
    
}