#seo_03 {
    min-height: 930px;
    height: 100vh;
    background-image: url('../img/seo/seo_bg_3.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    .bullets {
        width: 100%;
        height: 100vh;
        overflow: auto;
        position: absolute;
        .item {
            position: relative;
            width: 25rem;
            display: block;
            p {
                font-size: 1.71rem;
                color: #fff;
                line-height: 1;
                position: absolute;
            }
        }
        .bullet_1 {
            left: 24%;
            top: 10%;
        }
        .bullet_2 {
            left: 61%;
            top: 10%;
        }
        .bullet_3 {
            left: 15%;
            top: 29%;
        }
        .bullet_4 {
            left: 69%;
            top: 29%;
        }
    }
    .center-wrap {
        width: 100%;
        height: 100vh;
        display: table;
        text-align: center;
        .center {
            display: table-cell;
            vertical-align: middle;
            height: 100%;
            p {
                font-size: 6rem;
                font-weight: bold;
                color: #fff;
                text-transform: uppercase;
            }
        }
    }
}

@media (max-width: 480px) {
    #seo_03 {
        background-image: url('../img/seo/seo_bg_3_m.jpg');
        background-position: center bottom;
        background-size: cover;
        min-height: 70vh;
        height: 70vh;
        padding-top: 1rem;
        .bullets {
            width: 100%;
            height: inherit;
            overflow: auto;
            position: initial;
            .item {
                width: 100%;
                left: auto !important;
                top: auto !important;
                padding: 0 10px;
                text-align: center;
                margin-top: 2rem;
                p {
                    position: inherit;
                }
            }
        }
        .center-wrap {display: none;}
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    
}

@media (min-width: 768px) and (max-width: 990px) {
    #seo_03 {
        background-image: url('../img/seo/seo_bg_3_m.jpg');
        background-position: center bottom;
        background-size: cover;
        min-height: 40vh;
        height: 40vh;
        .bullets {
            width: 100%;
            height: inherit;
            overflow: auto;
            position: initial;
            .item {
                width: 50%;
                left: auto !important;
                top: auto !important;
                float: left;
                padding: 0 20px;
                text-align: left;
                margin-top: 2rem;
                p {
                    font-size: 2rem;
                    position: inherit;
                    padding-left: 10px;
                    border-left: 2px solid #fff;
                    br {display: none;}
                }
            }
        }
        .center-wrap {display: none;}
    }
}

@media (min-width: 991px) and (max-width: 1199px) {
    
}