#sites_03 {
    background-image: url('../img/sites/sites-03.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 60px 0 30px 0;
    h2 {
        @extend %h2;
        
    }
    .sites {
        margin-top: 60px;
        .item {
            margin-bottom: 60px;
            .title {
                background: $lemon-yellow;
                font-size: 2.43rem;
                text-transform: uppercase;
                font-weight: 600;
                display: inline-block;
                line-height: 1;
                padding: 2px 7px;
            }
            .site-description {
                text-transform: lowercase;
                color: $grey-light;
                text-decoration: underline;
                cursor: pointer;
                display: inline-block;
                font-size: 1.28rem;
                padding: 0 10px;
                &:hover {color: #000;}
            }
            .description {
                line-height: 1.1;
                padding-left: 7px;
                ul {
                    padding-left: 25px;
                    li {
                        font-size: 1.71rem;
                        list-style: none;
                        line-height: 1.55;
                        &:before {
                            width: 29px;
                            height: 29px;
                            content: "";
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: contain;
                            position: absolute;
                            margin-left: -32px;
                        }
                    }
                    .time-icon:before       {background-image: url(../img/sites/icons/time-icon.png);}
                    .coin-icon:before       {background-image: url(../img/sites/icons/coin-icon.png);}
                    .diagram-icon:before    {background-image: url(../img/sites/icons/diagram-icon.png);}
                    .structure-icon:before  {background-image: url(../img/sites/icons/structure-icon.png);}
                    .share-icon:before      {background-image: url(../img/sites/icons/share-icon.png);}
                    .cash-icon:before       {background-image: url(../img/sites/icons/cash-icon.png);}
                    .money-icon:before      {background-image: url(../img/sites/icons/money-icon.png);}
                    .soc-icon:before        {background-image: url(../img/sites/icons/soc-icon.png);}
                    .check-icon:before      {background-image: url(../img/sites/icons/check-icon.png);}
                }
            }
            a {
                font-size: 1.71rem;
                color: $cyan;
                margin-left: 7px;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 480px) {
    #sites_03 {
        padding: 30px 0 10px;
        background: none;
        .sites {
            margin-top: 30px;
            .item {
                .site-description {
                    display: none;
                }
            }
        }
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    
}

@media (min-width: 768px) and (max-width: 990px) {
    #sites_03 {
        h2 {
            font-size: 4.5rem;
        }
    }
}

@media (min-width: 991px) and (max-width: 1199px) {
    
}