#sites_04 {
    background-image: url('../img/sites/sites_04.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 8vh 0;
    .blocks-wrap {
        display: table;
        width: 100%;
        min-height: 70vh;
        .blocks {
            display: table-cell;
            width: 100%;
            vertical-align: middle;
            height: 100%;
            .left {
                .text-wrap {
                    display: table;
                    width: 100%;
                    height: 100%;
                    min-height: 70vh;
                    .text {
                        display: table-cell;
                        vertical-align: middle;
                        width: 100%;
                        height: 100%;
                        .title {
                            font-size: 10.71rem;
                            text-transform: uppercase;
                            font-weight: bold;
                            margin: 0;
                        }
                        .subtitle {
                            font-size: 3.42rem;
                            line-height: 1;
                            span {
                                text-transform: uppercase;
                                font-weight: bold;
                            }
                        }
                        .deadline {
                            font-size: 1.71rem;
                            background: $lemon-yellow;
                            color: #000;
                            display: inline-block;
                            padding: 2px 6px;
                            line-height: 1;
                        }
                    }
                }
            }
            .right {
                .presents-wrap {
                    display: table;
                    width: 100%;
                    height: 100%;
                    min-height: 70vh;
                    .presents {
                        display: table-cell;
                        vertical-align: middle;
                        width: 100%;
                        height: 100%;
                        .pres-analysis {
                            .text-wrap {
                                display: table;
                                width: 100%;
                                height: 50%;
                                min-height: 30vh; 
                                max-height: 328px;
                                max-width: 816px;
                                margin: 2vh auto;                                
                                .text {
                                    display: table-cell;
                                    vertical-align: middle;
                                    width: 100%;
                                    height: 100%;
                                    background-image: url(../img/sites/sites_04_green.jpg);
                                    background-position: center;
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                    padding: 50px;
                                    .title {
                                        font-size: 3.42rem;
                                        text-transform: uppercase;
                                        font-weight: bold;
                                        margin: 0;
                                    }
                                    .subtitle {
                                        font-size: 3rem;
                                        line-height: 1;
                                        margin-bottom: 25px;
                                    }
                                    a {
                                        font-size: 2.14rem;
                                        text-decoration: none;
                                        background: $red;
                                        border-radius: 4px;
                                        display: inline-block;
                                        padding: 6px 12px;
                                        line-height: 1;
                                        cursor: pointer;
                                        &:hover {background: #F1443B;}
                                    }
                                }
                                &:after {
                                    content: "";
                                    width: 184px;
                                    height: 75px;
                                    position: absolute;
                                    background-image:url('../img/sites/sites-04-bef-1.png');
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                    background-position: center;
                                }
                            }
                        }
                        .pres-audit {
                            .text-wrap {
                                display: table;
                                width: 100%;
                                height: 50%;
                                min-height: 30vh;
                                max-height: 328px;
                                max-width: 816px;
                                margin: 2vh auto;
                                .text {
                                    display: table-cell;
                                    vertical-align: middle;
                                    width: 100%;
                                    height: 100%;
                                    background-image: url(../img/sites/sites_04_blue.jpg);
                                    background-position: center;
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                    padding: 50px;
                                    .title {
                                        font-size: 3.42rem;
                                        text-transform: uppercase;
                                        font-weight: bold;
                                        margin: 0;
                                    }
                                    .subtitle {
                                        font-size: 3rem;
                                        line-height: 1;
                                        margin-bottom: 25px;
                                    }
                                    a {
                                        font-size: 2.14rem;
                                        text-decoration: none;
                                        background: $red;
                                        border-radius: 4px;
                                        display: inline-block;
                                        padding: 6px 12px;
                                        line-height: 1;
                                        cursor: pointer;
                                        &:hover {background: #F1443B;}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    p, a {color: #fff;}
}


@media (max-width: 480px) {

}
@media (min-width: 481px) and (max-width: 767px) {
    
}

@media (min-width: 768px) and (max-width: 990px) {

}

@media (min-width: 991px) and (max-width: 1199px) {
    
}