#sites_05 {
    background-image: url('../img/sites/sites_bg_4.jpg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
    min-height: 50vh;
    padding: 60px 0;
    .title {
        @extend %h2;
        span {
            @extend %h2-span;
        }
    }
    .bullets {
        .item {
            margin: 40px 0;
            .frame {
                width: 100%;
                max-width: 570px;
                margin: 0 auto;
                background-image:url('../img/sites/sites-05-bullet.png');
                background-repeat: repeat-y;
                background-size: contain;
                .text-wrap {
                    display: table;
                    padding: 35px;
                    .text {
                        display: table-cell;
                        vertical-align: middle;
                        height: 100%;
                        .block {
                            background: #fff;
                            width: 100%;
                            margin: 0 auto;
                            padding: 25px 30px;
                            .p01 {
                                font-size: 4.28rem;
                                text-transform: uppercase;
                                font-weight: bold;
                            }
                            .p02 {
                                font-size: 1.8rem;
                                line-height: 1.1;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    #sites_05 {
        .bullets {
            .item {
                margin: 10px 0;
                .frame {
                    width: 100%;
                    max-width: none;
                    margin: 0 auto;
                    background-image: none;
                    background-color: $lemon-yellow;
                    .text-wrap {
                        display: block;
                        padding: 15px;
                        width: 100%;
                        .text {
                            display: block;
                            .block {
                                padding: 15px;
                                text-align: center;
                                .p01 {
                                    font-size: 3rem;
                                    margin:0
                                }
                                .p02 {
                                    font-size: 1.6rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    #sites_05 {
        .bullets {
            .item {
                margin: 10px 0;
                .frame {
                    width: 100%;
                    max-width: none;
                    margin: 0 auto;
                    background-image: none;
                    background-color: $lemon-yellow;
                    .text-wrap {
                        display: block;
                        padding: 15px;
                        width: 100%;
                        .text {
                            display: block;
                            .block {
                                padding: 15px;
                                text-align: center;
                                .p01 {
                                    font-size: 3rem;
                                    margin:0
                                }
                                .p02 {
                                    font-size: 1.6rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 990px) {
    #sites_05 {
        .bullets {
            .item {
                margin: 10px 0;
                .frame {
                    width: 100%;
                    max-width: none;
                    margin: 0 auto;
                    background-image: none;
                    background-color: $lemon-yellow;
                    .text-wrap {
                        display: block;
                        padding: 15px;
                        width: 100%;
                        .text {
                            display: block;
                            .block {
                                padding: 10px;
                                text-align: center;
                                .p01 {
                                    font-size: 3rem;
                                    margin:0
                                }
                                .p02 {
                                    font-size: 1.5rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 991px) and (max-width: 1199px) {
    #sites_05 {
        .bullets {
            .item {
                margin: 10px 0;
                .frame {
                    width: 100%;
                    max-width: none;
                    margin: 0 auto;
                    background-image: none;
                    background-color: $lemon-yellow;
                    .text-wrap {
                        display: block;
                        padding: 15px;
                        width: 100%;
                        .text {
                            display: block;
                            .block {
                                padding: 10px;
                                text-align: center;
                                .p01 {
                                    font-size: 3rem;
                                    margin:0
                                }
                                .p02 {
                                    font-size: 1.5rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}