<footer>
	<div class="container">
        <div class="row">
            <div class="footer-logo col-xs-12 col-sm-4 col-md-4">
                <a href="http://starta.ru">
                    <img src="img/logo-starta.png" alt="агентство интернет-маркетинга в Красноярске">
                </a>
                <p class="city">Красноярск</p>
            </div>
            <div class="footer-address col-xs-12 col-sm-4 col-md-4">
                <p>г. Красноярск ул. Алексеева, 49 оф. 11-09<br><a class="foot-mail modal_btn">mail@starta.ru</a></p>
                <ul class="row">
                    <li class="col-xs-12 col-sm-6"><a href="http://starta.ru/">Продвижение сайтов</a></li>
                    <li class="col-xs-12 col-sm-6"><a href="http://starta.ru/uslugi/sozdanie-i-razrabotka-saytov/">Создание сайтов (Красноярск)</a></li>
                    <li class="col-xs-12 col-sm-6"><a href="http://starta.ru/uslugi/smm-prodvizhenie-v-socsetyah/">SMM продвижение в соц.сетях</a></li>
                    <li class="col-xs-12 col-sm-6"><a href="http://starta.ru/uslugi/nastroika-kontekstnoy-reklami-yandex-direct-google-adwords/">Настройка контекстной рекламы</a></li>
                </ul>
            </div>
            <div class="footer-phone col-xs-12 col-sm-4 col-md-4">
                <a href="tel:+73912870506"><p><span>+7(391) </span>287-05-06</p></a>
                <a class="modal_btn" data-toggle="modal" data-target=".callback-modal">заказать звонок</a>
            </div>
        </div>
	</div>
</footer>

<a id="button-up">
    <img src="img/to-top.png">
</a>

<!-- Modals -->

<!-- CallBack Modal -->
<div class="modal fade callback-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">закрыть</button>
        <p class="title">Закажите обратный звонок</p>
        <p class="subtitle">И мы свяжемся с вами в ближайшее время</p>
        <form>
            <input class="input" name="name" type="text" placeholder="Ваше имя">
            <input class="input" name="tell" type="text" placeholder="Ваш телефон">
            <input class="feedback button" name="send" type="button" value="Отправить">
        </form>
    </div>
  </div>
</div>

<!-- Prce Modal -->
<div class="modal fade price-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">закрыть</button>
        <p class="title">Получите прайс-лист 2016</p>
        <p class="subtitle">Заполните форму и получите актуальный прайс</p>
        <form>
            <input class="input" name="name" type="text" placeholder="Ваше имя">
            <input class="input" name="tell" type="text" placeholder="Ваш телефон">
            <input class="feedback button" name="send" type="button" value="Отправить">
        </form>
    </div>
  </div>
</div>