<header id="top-menu" class="header-menu">
    <div class="container">
        <div class="row">
            <nav role="navigation" class="navbar navbar-default">
              <!-- Collection of nav links, forms, and other content for toggling -->
              <div id="navbarCollapse" class="collapse navbar-collapse">
                <div class="menu-logo navbar-left">
                    <a href="http://starta.ru">
                        <img class="wh" src="img/logo-starta.png">
                        <img class="bl" src="img/logo-starta-black.png">
                    </a>
                </div>
                <a class="modal_btn_price navi-button" data-toggle="modal" data-target=".price-modal">Получить прайс 2016</a>
                <ul class="nav navbar-nav navbar-right">
                  <li class="active"><a href="index.html">Главная</a></li>
                  <li class="dropdown">
                    <a class="dropdown-toggle" href="#">Услуги <b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                      <li><a href="sites.html">Создание сайтов</a></li>
                      <li><a href="smm.html">Продвижение в соц.сетях</a></li>
                      <li><a href="#">Контекстная реклама</a></li>
                      <li><a href="seo.html">Продвижение в ТОП-10</a></li>
                    </ul>
                  </li>
                  <li><a class="phone" href="tel:83912870506"><span>+7 (391)</span> 287-05-06</a></li>
                </ul>

              </div>
            </nav>
            
            <!-- Pushy Menu -->
            <nav class="pushy pushy-right">
                <div class="menu-btn"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></div>
                <ul class="menu-list">
                    <!-- Submenu -->
                    <li><a href="index.html">Главная</a></li>
                    <li class="pushy-submenu">
                        <a>Услуги</a>
                        <ul>
                            <li class="pushy-link"><a href="sites.html">Создание сайтов</a></li>
                            <li class="pushy-link"><a href="smm.html">Продвижение в соц.сетях</a></li>
                            <li class="pushy-link"><a href="#">Контекстная реклама</a></li>
                            <li class="pushy-link"><a href="seo.html">Продвижение в ТОП-10</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="pushy-contacts">
                    <div class="phone"><a href="tel:83912870506"><span>+7 (391)</span> 287-05-06</a></div>
                    <div class="socials">
                        <p>мы в социальных сетях</p>
                        <ul>
                            <li><a href="#" class="ok"></a></li>
                            <li><a href="https://www.instagram.com/starta_team/" class="inst"></a></li>
                            <li><a href="https://www.facebook.com/starta.team/" class="fb"></a></li>
                            <li><a href="http://vk.com/reklama_v_internet_krsk" class="vk"></a></li>
                            <div class="cl"></div>
                        </ul>
                    </div>
                    <div class="cl"></div>
                </div>
            </nav>

            <!-- Site Overlay -->
            <div class="site-overlay"></div>

            <!-- Your Content -->
            <div id="menu-container">
                <!-- Menu Button -->
                <a href="tel:83912870506" class="pushy-phone"><span>+7 (391) </span>287-05-06</a>
                <div class="menu-btn"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></div>
            </div>    
        </div>
    </div>
</header>