<!-- Work Modals -->

<!-- Rolen Modal -->
<div class="modal fade works-modal-site work-rolen" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#rolen-home" data-toggle="tab">Главная</a></li>
              <li><a href="#rolen-catalog" data-toggle="tab">Каталог</a></li>
              <li><a href="#rolen-luxe" data-toggle="tab">Rolen Люкс</a></li>
            </ul>
            
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">закрыть</button>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="rolen-home">
                    <div class="work-image">
                        <img src="img/sites/portfolio/case-rolen-01.jpg" width="100%">
                    </div>
                </div>
                <div class="tab-pane" id="rolen-catalog">
                    <div class="work-image">
                        <img src="img/sites/portfolio/case-rolen-02.jpg" width="100%">
                    </div>
                </div>
                <div class="tab-pane" id="rolen-luxe">
                    <div class="work-image">
                        <img src="img/sites/portfolio/case-rolen-03.jpg" width="100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Rusdt Modal -->
<div class="modal fade works-modal-site work-rusdt" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#rusdt-home" data-toggle="tab">Главная</a></li>
              <li><a href="#rusdt-catalog" data-toggle="tab">Каталог</a></li>
              <li><a href="#rusdt-contacts" data-toggle="tab">Контакты</a></li>
            </ul>
            
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">закрыть</button>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="rusdt-home">
                    <div class="work-image">
                        <img src="img/sites/portfolio/case-rusdt-01.jpg" width="100%">
                    </div>
                </div>
                <div class="tab-pane" id="rusdt-catalog">
                    <div class="work-image">
                        <img src="img/sites/portfolio/case-rusdt-02.jpg" width="100%">
                    </div>
                </div>
                <div class="tab-pane" id="rusdt-contacts">
                    <div class="work-image">
                        <img src="img/sites/portfolio/case-rusdt-03.jpg" width="100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Nord Modal -->
<div class="modal fade works-modal-site work-nord" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#nord-home" data-toggle="tab">Главная</a></li>
              <li><a href="#nord-plans" data-toggle="tab">Планировки</a></li>
              <li><a href="#nord-other" data-toggle="tab">Другие помещения</a></li>
            </ul>
            
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">закрыть</button>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="nord-home">
                    <div class="work-image">
                        <img src="img/sites/portfolio/case-nord-01.jpg" width="100%">
                    </div>
                </div>
                <div class="tab-pane" id="nord-plans">
                    <div class="work-image">
                        <img src="img/sites/portfolio/case-nord-02.jpg" width="100%">
                    </div>
                </div>
                <div class="tab-pane" id="nord-other">
                    <div class="work-image">
                        <img src="img/sites/portfolio/case-nord-03.jpg" width="100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MW-Service Modal -->
<div class="modal fade works-modal-site work-mw-service" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm lp">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">закрыть</button>
            <div class="work-image">
                <img src="img/sites/portfolio/case-mwservice-01.jpg" width="100%">
            </div>
        </div>
    </div>
</div>

<!-- Hair Modal -->
<div class="modal fade works-modal-site work-hair" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm lp">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">закрыть</button>
            <div class="work-image">
                <img src="img/sites/portfolio/case-hair-01.jpg" width="100%">
            </div>
        </div>
    </div>
</div>

<!-- MW-Service Modal -->
<div class="modal fade works-modal-site work-aurum" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm lp">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">закрыть</button>
            <div class="work-image">
                <img src="img/sites/portfolio/case-aurum-01.jpg" width="100%">
            </div>
        </div>
    </div>
</div>