#index_05 {
    height: 50vh;
    background: #fcfbfb;
    margin-bottom: 15px;
    .container, .row {height: 100%}
    .bg {
        position: absolute;
        width: 50%;
        height: 50vh;
        background: #FFD800;
        &:after {
            content: "";
            width: 0;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            border-left: 80px solid #FFD800;
            border-top: 25vh solid #FCFBFB;
            border-bottom: 25vh solid #FCFBFB;
        }
    }
    .left {
        height: 100%;
        .text-wrap {
            height: 100%;
            display: table;
            .text {
                display: table-cell;
                vertical-align: middle;
                p {color: #231f20;}
                span {color: #fff;}
                .wrap {
                    &:after {
                        content: "?";
                        font-size: 18rem;
                        margin-right: -7rem;
                        margin-top: -15.8rem;
                        line-height: 1;
                        float: right;
                        font-weight: 500;
                        color: #231f20;
                    }
                    .p01 {
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: 3.5rem;
                        line-height: 1;
                        margin: 0;
                        padding: 0;
                    }
                    .p02 {
                        text-transform: uppercase;
                        font-weight: 900;
                        line-height: 1;
                        font-size: 7.3rem;
                        margin: 0;
                        padding: 0;
                    }
                    .p03 {
                        font-size: 2.4rem;
                        line-height: 1;
                        margin: 0;
                        padding: 0;
                        .question {
                            display: none;
                            color: #231f20;
                        }
                    }
                }
            }
        }
    }
    .right {
        height: 100%;
        .text-wrap {
            height: 100%;
            display: table;
            .text {
                display:table-cell;
                vertical-align: middle;
                padding-left: 15px;
                p {
                    font-size: 2.285rem;
                    line-height: 1;
                    margin-bottom: 30px;
                }
                .input {
                    height: 40px;
                    padding: 10px;
                    font-size: 1.3rem;
                    border-radius: 3px;
                    border: 1px #ababab solid;
                    width: 67%;
                }
                .button {
                    color: #fff;
                    border: none;
                    font-size: 1.7rem;
                    padding: 8px 14px 10px 14px;
                    float: right;
                    width: 32%;
                    line-height: 1;
                    border-radius: 4px;
                    background: #18a3f2;
                    background: -moz-linear-gradient(top, #18a3f2 0%, #0f8ed7 100%);
                    background: -webkit-linear-gradient(top, #18a3f2 0%,#0f8ed7 100%);
                    background: linear-gradient(to bottom, #18a3f2 0%,#0f8ed7 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#18a3f2', endColorstr='#0f8ed7',GradientType=0);
                }
            }
        }
    }
}

@media (max-width: 480px) {
    #index_05 {
        height: auto;
        .bg {
            width: 100%;
            height: 40vh;
            &:after {
                display: none;
            }
        }
        .left {
            height: 40vh;
            .text-wrap {
                .text {
                    .wrap {
                        &:after {
                            display: none;
                        }
                        .p01 {
                            font-size: 2rem;
                            text-align: center;
                        }
                        .p02 {
                            font-size: 4.3rem;
                            text-align: center;
                        }
                        .p03 {
                            font-size: 1.8rem;
                            text-align: center;
                            .question {
                                display: inline;
                            }
                        }
                    }
                }
            }
        }
        .right {
            .text-wrap {
                .text {
                    padding: 0;
                    p {
                        font-size: 1.7rem;
                        text-align: center;
                        margin-bottom: 20px;
                        margin-top: 20px;
                        br {
                            display: none;
                        }
                    }
                    .input {
                        width: 100%;
                        text-align: center;
                    }
                    .button {
                        margin-top: 10px;
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    #index_05 {
        height: auto;
        .bg {
            width: 100%;
            height: 30vh;
            &:after {
                display: none;
            }
        }
        .left {
            height: 30vh;
            .text-wrap {
                width: 100%;
                .text {
                    .wrap {
                        &:after {
                            display: none;
                        }
                        .p01 {
                            font-size: 3rem;
                            text-align: center;
                        }
                        .p02 {
                            font-size: 6.3rem;
                            text-align: center;
                        }
                        .p03 {
                            font-size: 2rem;
                            text-align: center;
                            .question {
                                display: inline;
                            }
                        }
                    }
                }
            }
        }
        .right {
            .text-wrap {
                width: 60%;
                margin: 0 auto;
                text-align: center;
                .text {
                    padding: 0;
                    p {
                        font-size: 1.7rem;
                        text-align: center;
                        margin-bottom: 20px;
                        margin-top: 20px;
                        br {
                            display: none;
                        }
                    }
                    .input {
                        width: 100%;
                        text-align: center;
                    }
                    .button {
                        margin-top: 10px;
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 990px) {
    #index_05 {
        height: auto;
        .bg {
            width: 100%;
            height: 30vh;
            &:after {
                display: none;
            }
        }
        .left {
            height: 30vh;
            .text-wrap {
                width: 100%;
                .text {
                    .wrap {
                        &:after {
                            display: none;
                        }
                        .p01 {
                            font-size: 4rem;
                            text-align: center;
                        }
                        .p02 {
                            font-size: 8.3rem;
                            text-align: center;
                        }
                        .p03 {
                            font-size: 2.8rem;
                            text-align: center;
                            .question {
                                display: inline;
                            }
                        }
                    }
                }
            }
        }
        .right {
            .text-wrap {
                width: 60%;
                margin: 0 auto;
                text-align: center;
                .text {
                    padding: 0;
                    p {
                        font-size: 1.7rem;
                        text-align: center;
                        margin-bottom: 20px;
                        margin-top: 20px;
                        br {
                            display: none;
                        }
                    }
                    .input {
                        width: 100%;
                        text-align: center;
                    }
                    .button {
                        margin-top: 10px;
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (min-width: 991px) and (max-width: 1199px) {
    #index_05 {
        .left {
            .text-wrap {
                .text {
                    .wrap {
                        .p01 {
                            font-size: 2.5rem;
                        }
                        .p02 {
                            font-size: 5.3rem;
                        }
                        .p03 {
                            font-size: 1.7rem;
                        }
                        &:after {
                            font-size: 14rem;
                            margin-right: -5rem;
                            margin-top: -11.8rem;
                        }
                    }
                }
            }
        }
        .right {
            .text-wrap {
                p {
                    font-size: 2rem;
                    br {
                        display: none;
                    }
                }
                .text {
                    .button {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}
