.effect {
    height: 100%;
    svg {
        position: relative;
        opacity: 0;
    }
    &:hover {
        svg {
            opacity: 1;
            -webkit-transition: opacity 500ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
            -moz-transition: opacity 500ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
            -o-transition: opacity 500ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
            transition: opacity 500ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
        }
    }
    h3 {
        position: relative;
        margin-top: -60%;
        margin-bottom: 0;
    }
    #svg_ef_1 {
        #svg_ef_1_all {
            rect {
                fill: #e2ad23;
                stroke-width: 0;
                stroke-miterlimit: 4;
            }
            path {
                opacity: 0;
                stroke: #000;
                fill-opacity: null;
                stroke-opacity: null;
                stroke-width: null;
                fill: none;
            }
            #svg_ef_1_01 {fill-opacity: 0.5;}
            #svg_ef_1_02 {fill-opacity: 1;}
            #svg_ef_1_03 {fill-opacity: 0.7;}
            #svg_ef_1_04 {fill-opacity: 1;}
            #svg_ef_1_05 {fill-opacity: 0.3;}
            #svg_ef_1_06 {fill-opacity: 0.4;}
            #svg_ef_1_07 {fill-opacity: 0.6;}
            #svg_ef_1_08 {fill-opacity: 1;}
            #svg_ef_1_09 {fill-opacity: 1;}
            #svg_ef_1_10 {fill-opacity: 0.5;}
            #svg_ef_1_11 {fill-opacity: 1;}
        }
    }
    #svg_ef_2 {
        #svg_ef_2_all {
            rect {
                fill: #b262b7;
                stroke-width: 0;
                stroke-miterlimit: 4;
            }
            path {
                opacity: 0;
            }
            #svg_ef_2_01 {fill-opacity: 1;}
            #svg_ef_2_02 {fill-opacity: 1;}
            #svg_ef_2_03 {fill-opacity: 0.7;}
            #svg_ef_2_04 {fill-opacity: 0.7;}
            #svg_ef_2_05 {fill-opacity: 1;}
            #svg_ef_2_06 {fill-opacity: 1;}
            #svg_ef_2_07 {fill-opacity: 0.7;}
            #svg_ef_2_08 {fill-opacity: 1;}
        }
    }
    #svg_ef_3 {
        #svg_ef_3_all {
            circle {
                stroke: null;
                fill: #5fc18f;
            }
            path {opacity: 0;}
            #svg_ef_3_01 {stroke: #5fc18f; fill: none; opacity: 1;}
            #svg_ef_3_02 {stroke: #5fc18f; fill: none; opacity: 1;}
            #svg_ef_3_03 {opacity: 1;}
            #svg_ef_3_04 {opacity: 1;}
            #svg_ef_3_05 {opacity: 0.7;}
            #svg_ef_3_06 {opacity: 0.4;}
            #svg_ef_3_07 {opacity: 0.8;}
            #svg_ef_3_08 {opacity: 0.3;}
        }
    }
    #svg_ef_4 {
        #svg_ef_4_all {
            path {
                fill: #fff200;
                stroke: #000;
                stroke-width: 0;
            }
            #svg_ef_4_01 {opacity: 0.6;}
            #svg_ef_4_02 {opacity: 0.3;}
            #svg_ef_4_03 {opacity: 0.3;}
            #svg_ef_4_04 {opacity: 0.7;}
            #svg_ef_4_05 {opacity: 1;}
            #svg_ef_4_06 {opacity: 1;}
            #svg_ef_4_07 {opacity: 1;}
            #svg_ef_4_08 {opacity: 0.8;}
        }
    }
    #svg_ef_5 {
        #svg_ef_5_all {
            line {
                stroke-linecap: round;
                stroke-width: 2.4;
                stroke: #00bff3;
                fill: none;
            }
            path {
                stroke: #00bff3;
                fill: none;
                fill-rule: evenodd;
                stroke-width: 2.4;
                stroke-miterlimit: 4;
            }
            #svg_ef_5_01 {stroke-opacity: 1;}
            #svg_ef_5_02 {stroke-opacity: 0.3;}
            #svg_ef_5_03 {stroke-opacity: 0.8;}
            #svg_ef_5_04 {stroke-opacity: 0.6;}
            #svg_ef_5_05 {stroke-opacity: 1;}
            #svg_ef_5_06 {stroke-opacity: 0.5;}
            #svg_ef_5_07 {stroke-opacity: 0.7;}
            #svg_ef_5_08 {stroke-opacity: 1;}
            #svg_ef_5_09 {stroke-opacity: 1;}
            #svg_ef_5_10 {stroke-opacity: 0.7;}
            #svg_ef_5_11 {stroke-opacity: 0.4;}
            #svg_ef_5_12 {stroke-opacity: 1;}
            #svg_ef_5_13 {stroke-opacity: 0.5;}
            #svg_ef_5_14 {stroke-opacity: 1;}
            #svg_ef_5_15 {stroke-opacity: 0.6;}
            #svg_ef_5_16 {stroke-opacity: 1;}
        }
    }
}

@media (max-width: 480px) {
    .effect {
        height: auto;
        svg {display: none;}
        h3 {
            position: inherit;
            margin: 0 auto;
        }
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .effect {
        height: auto;
        svg {display: none;}
        h3 {
            position: inherit;
            margin: 0 auto;
        }
    }
}