#svg_ef_4 {
    #svg_ef_4_all {
        path {
            fill: #fff200;
            stroke: #000;
            stroke-width: 0;
        }
        #svg_ef_4_01 {opacity: 0.6;}
        #svg_ef_4_02 {opacity: 0.3;}
        #svg_ef_4_03 {opacity: 0.3;}
        #svg_ef_4_04 {opacity: 0.7;}
        #svg_ef_4_05 {opacity: 1;}
        #svg_ef_4_06 {opacity: 1;}
        #svg_ef_4_07 {opacity: 1;}
        #svg_ef_4_08 {opacity: 0.8;}
    }
}