#context_04 {
    background: #1a2236;
    padding: 8vh 0;
    p, li, h3, a {color: #fff;}
    .title {
        font-size: 7rem;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0;
        line-height: 1;
    }
    .subtitle {
        font-size: 2.57rem;
        text-align: center;
        font-weight: bold;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 50px 0 0 0;
        li {
            font-size: 2.35rem;
            color: #000;
            background-color: #fff;
            font-weight: bold;
            line-height: 1;
            margin: 16px 0;
            padding: 14px 20px;
            display: table;
            span {
                color: $red;
            }
        }
    }
    .ya-goo {
        color: #fff;
        font-size: 2.57rem;
        text-align: center;
        a {
            color: #fff;
            text-decoration: underline;
            cursor: pointer;
        }
        .active {
            text-decoration: none;
            cursor: default;
        }
    }
    .goo {display: none;}
    img {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 520px;
    }
    h3 {
        font-size: 1.14rem;
        color: #fff;
        margin: 10px 0 0 0;
    }
    p {
        font-size: 1rem;
        line-height: 1.1;
    }
}

@media (max-width: 480px) {
    #context_04 {
        .title {
            font-size: 3rem;
            padding: 0 15px;
        }
        .subtitle {
            font-size: 2rem;
        }
        ul {
            li {
                font-size: 1.7rem;
                width: 100%;
                padding: 10px 15px;
                margin: 10px 0;
            }
        }
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    
}

@media (min-width: 768px) and (max-width: 990px) {
    
}

@media (min-width: 991px) and (max-width: 1199px) {
    
}