#context_03 {
    background-image: url('../img/context/context_03.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    padding: 10vh 0;
    .left {
        .subtitle {
            font-size: 2.57rem;
            font-weight: bold;
            text-align: left;
            line-height: 1;
        }
        .title {
            font-size: 8rem;
            font-weight: bold;
            text-align: left;
            line-height: 1;
            text-transform: uppercase;
            span {
                color: $red;
            }
        }
        ul {
            list-style: none;
            padding: 0;
            li {
                font-size: 1rem;
                line-height: 1;
                padding-bottom: 4px;
            }
        }
        p {
            font-size: 1rem;
            line-height: 1;
        }
    }
    .right {
        .right-list {
            list-style: none;
            li {
                font-size: 2.57rem;
                line-height: 1;
                padding-bottom: 30px;
                color: #000;
                &:before {
                    width: 110px;
                    height: 90px;
                    font-size: 4.57rem;
                    background: #fff;
                    left: -70px;
                    margin-top: -10px;
                    text-align: center;
                    padding-top: 1rem;
                    position: absolute;
                    font-weight: bold;
                    color: #000;
                }
                &:nth-child(1):before {content: "01";}
                &:nth-child(2):before {content: "02";}
                &:nth-child(3):before {content: "03";}
                &:nth-child(4):before {
                    content: "04";
                    background: #ff3333;
                    color: #fff;
                }
                &:last-child {
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    #context_03 {
        .left {
            .title {
                font-size: 3rem;
            }
            .seo {
                display: none;
            }
        }
        .right {
            margin-top: 20px;
            .right-list {
                li {
                    font-size: 1.4rem;
                    br {display: none;}
                    &:before {
                        width: 50px;
                        height: 75px;
                        font-size: 2.57rem;
                        left: -10px;
                        padding-top: 1.4rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    #context_03 {
        .left {
            .title {
                font-size: 3rem;
            }
            .seo {
                display: none;
            }
        }
        .right {
            margin-top: 20px;
            .right-list {
                li {
                    font-size: 1.4rem;
                    br {display: none;}
                    &:before {
                        width: 50px;
                        height: 75px;
                        font-size: 2.57rem;
                        left: -10px;
                        padding-top: 1.4rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 990px) {
    #context_03 {
        .left {
            .title {
                font-size: 6rem;
            }
            .seo {
                display: none;
            }
        }
    }
}

@media (min-width: 991px) and (max-width: 1199px) {
    #context_03 {
        .left {
            .title {
                font-size: 6rem;
            }
        }
        .right {
            .right-list {
                li {
                    font-size: 2rem;
                }
            }
        }
    }
}